@{
    ViewBag.Title = "BeersHeadImage";
}
<div class="imageAndText">
    <img src="~/Content/Images/BeersHead.jpg" class="img-responsive align-center" />
    <div class="col">
        <div class="col-sm-12">
            <p>
                <br />
                <br />
                <br />
                <br />
                <h1> Beers </h1>
                <br>
            </p>
        </div>
    </div>
</div>