@model  List<MilwaukeeBeerCraft.Models.StyleRatingViewModel>

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        // Create the data table.
            var style = @Html.Raw(Json.Encode(Model));;
            var styleName = []
            var styleRating = []
            for (var i = 0; i < style.length; i++)
            {
                styleName.push(style[i].style);
                styleRating.push(style[i].rating);
            }
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Style Name');
            data.addColumn('number', 'Rating');
            for (var i = 0; i < style.length; i++)
            {
                data.addRow([
                styleName[i],styleRating[i],
                ]);
            }

            var options = {
                'title': 'Milwaukee Beer Styles By Rating',
                'width': 800,
                'height': 3000,
                'colors': ['#822c07', '#631e00']
        };

            // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
    </script>

</head>



<div id="row">
    
    <div id="chart_div">

</div>

