@model MilwaukeeBeerCraft.Models.WidgetViewModel


<h6>
    @foreach (var category in Model.Categories)
    {
        @Model.Categories
    },
    @foreach (var beer in Model.Beers)
    {
        @Model.Beers
    },
    @foreach (var Brewery in Model.Brewery)
    {
        @Model.Brewery
    }
</h6>
