@{
    ViewBag.Title = "HomeImage";
}
<div class="imageAndText">
    <img src="~/Content/Images/Home Header.jpg" class="img-responsive align-center" />
    <div class="col">
        <div class="col-sm-12">
            <br />
            <br />
            <br />
            <br />
            <p><h1> Milwaukee: Beer Craft </h1> </p>
            
            
        </div>
    </div>
</div>